<div class="grid-container">
  <h1 class="mat-h1">{{this.appStatus.activeProject?.name}}</h1>

    <mat-card class="simple-card">
      <mat-card-header>
        <mat-card-title>
          Jobs of Data Processing
          <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item>Refresh</button>
          </mat-menu>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="dashboard-card-content">
        <div>
          <table style="width: 100%;">
            <thead>
              <tr>
                <th>Date</th>
                <th>Status</th>
                <th>jobUID</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let job of appStatus.uwJobs">
                <td>
                  {{ appStatus.fmtDate(job.start_date) }}
                </td>
                <td>
                  {{ job.status }}
                </td>
                <td>
                  {{ job.job_uid }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="simple-card">
      <mat-card-header>
        <mat-card-title>
          Jobs
          <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item>Expand</button>
            <button mat-menu-item>Remove</button>
          </mat-menu>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="dashboard-card-content">
        <div>Card Content Here</div>
      </mat-card-content>
    </mat-card>

  <!-- <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Card Content Here</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list> -->
</div>
