<div class="grid-container">
    <h1 class="mat-h1">{{this.appStatus.activeProject?.name}}</h1>
    
    <div>
      {{ appStatus.uwProject?.description }}
    </div>

    <mat-card class="simple-card card-50">
      <mat-card-header>
        <mat-card-title>
          Data Processing Log
          <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item>
              <mat-icon>open_in_new</mat-icon>
              Show Full Log
            </button>
          </mat-menu>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="dashboard-card-content">
        <p>
          The latest job history of data processing in backend.
        </p>
        <div>
          <table class="job-table">
            <thead>
              <tr>
                <th>&nbsp;</th>
                <th>Start Date</th>
                <th>Job Status</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let job of appStatus.uwJobs">
                <td>
                  <mat-icon *ngIf="job.uid == appStatus.uwLastCompletedJob?.uid">
                    arrow_circle_right
                  </mat-icon>
                </td>
                <td>
                  {{ job.start_date }}
                </td>
                <td>
                  <span [class]="'label label-job-'+job.status">
                    {{ job.status }}
                  </span>
                </td>
                <td>
                  <button mat-raised-button
                    class="mr-2"
                    *ngIf="job.status == JobInfoStatus.COMPLETE"
                    (click)="onClickSelectJob(job)">
                    Select
                  </button>

                  <button mat-raised-button
                    class="mr-2"
                    *ngIf="job.status == JobInfoStatus.IN_PROGRESS">
                    Cancel
                  </button>

                  <button mat-raised-button
                    class="mr-2">
                    <mat-icon>
                      delete
                    </mat-icon>
                  </button>

                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="simple-card card-33">
      <mat-card-header>
        <mat-card-title>
          Cohort Summary
          <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item>Expand</button>
            <button mat-menu-item>Remove</button>
          </mat-menu>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="dashboard-card-content">
        <p>
          The statistics of the cohort in [{{ appStatus.uwProject?.short_title }}].
        </p>
        <dl class="dict-list">

          <dt>The total number of patients included</dt>
          <dd class="clr-d-yes">
            {{ appStatus.uwProject?.stat.n_included | number:'1.0-0' }}
          </dd>

          <dt>The total number of patients excluded:</dt>
          <dd class="clr-d-no">
            {{ appStatus.uwProject?.stat.n_excluded | number:'1.0-0' }}
          </dd>

          <dt>The number of patients unjudged:</dt>
          <dd class="clr-d-na">
            {{ appStatus.uwProject?.stat.n_unjudged | number:'1.0-0' }}
          </dd>

          <dt>The total number of patients added to this project.</dt>
          <dd>{{ appStatus.uwProject?.stat.n_cohort | number:'1.0-0' }}</dd>

        </dl>
      </mat-card-content>
    </mat-card>

    <mat-card class="simple-card card-33">
      <mat-card-header>
        <mat-card-title>
          Decisions
          <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item>Expand</button>
            <button mat-menu-item>Remove</button>
          </mat-menu>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="dashboard-card-content">
        <div [chart]="chartPieIE"></div>
      </mat-card-content>
    </mat-card>

    <mat-card class="simple-card card-33">
      <mat-card-header>
        <mat-card-title>
          Patient Labels
          <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item>Expand</button>
            <button mat-menu-item>Remove</button>
          </mat-menu>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="dashboard-card-content">
        <div [chart]="chartBarLabel"></div>
      </mat-card-content>
    </mat-card>


    <mat-card class="simple-card card-33">
      <mat-card-header>
        <mat-card-title>
          Statistics by Age
          <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item>Expand</button>
            <button mat-menu-item>Remove</button>
          </mat-menu>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="dashboard-card-content">
        <div [chart]="chartBarAge"></div>
      </mat-card-content>
    </mat-card>


    <!-- <mat-card class="simple-card card-100">
      <mat-card-header>
        <mat-card-title>
          Statistics by Age
          <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item>Expand</button>
            <button mat-menu-item>Remove</button>
          </mat-menu>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="dashboard-card-content">
        <div [chart]="chartBarAge"></div>
      </mat-card-content>
    </mat-card> -->




</div>
