<div id="criteria-panel-wrapper">
    <div class="panel-header">
        <div class="panel-header-left">
            <div class="panel-header-icon">
                <i class="fas fa-clipboard-list"></i>
            </div>
            <div>
                <div class="panel-header-title">
                    Eligibility Checklist
                </div>
                <div class="panel-header-subtitle">
                    {{ this.appStatus.getNumberDeterminedCriteria(this.appStatus.uwPat!) }}
                    /
                    {{ this.appStatus.getNumberAllCriteria() }} 
                    determined
                </div>
            </div>
    
            <div class="divider"></div>
    
            <!-- <div>
                <input type="text"
                    placeholder="Keywords"
                    style="width: 100px;">
                <span class="clickable"
                    style="margin-left: -15px;">
                    <i class="fa fa-times"></i>
                </span>
            </div> -->
        </div>

        <div class="panel-header-right">
    
            <!-- <div class="panel-header-btn">
                <button class="cdt-btn">
                    <i class="fa fa-folder"></i>
                    Collapse
                </button>
            </div> -->
    
            <div class="panel-header-btn">
                <button class="cdt-btn">
                    <i class="fas fa-bars"></i>
                </button>
            </div>

        </div>
    </div>

    <!-- the detail of criteria -->
    <div class="panel-body">
        <app-criteria-tree-table 
            *ngFor="let criteria of this.appStatus.uwCriteria?.children"
            [criteria]="criteria">
        </app-criteria-tree-table>
    </div>
</div>