<div class="menu-bar-box" 
  style="display: flex; flex-direction: row; position: sticky; top: 0; z-index: 999;">

  <!-- <button mat-raised-button
    [disabled]="appStatus.uwProjectLoading"
    (click)="onClickRefreshCohort()"
    class="mr-2">
    <mat-icon>refresh</mat-icon> 
    Refresh
  </button> -->

  <mat-divider [vertical]="true"></mat-divider>


  <div style="display: flex; align-items: center;">
    <input type="text" [(ngModel)]="search_keywords"
      #input
      (keyup)="applyFilter($event)"
      style="height: 36px; line-height: 36px; width: 200px;"
      class=""
      placeholder="Search Keywords">

    <button mat-flat-button
      (click)="clearFilter($event)"
      class="mr-2">
      <mat-icon>clear</mat-icon> 
    </button>
  </div>

  <mat-divider [vertical]="true"></mat-divider>

  <button mat-raised-button
    class="ml-2">
    <mat-icon>create_new_folder</mat-icon> 
    Import
  </button>

  <button mat-raised-button 
    class="ml-2 mr-2"
    [matMenuTriggerFor]="export_menu">
    <mat-icon>download</mat-icon> 
    Export
  </button>
  <mat-menu #export_menu="matMenu">
    <button mat-menu-item>
      As Excel File
    </button>
    <button mat-menu-item>
      As JSON File
    </button>
  </mat-menu>


  <mat-divider [vertical]="true"></mat-divider>

  <div style="display: flex; align-items: center; padding: 0 10px;">

    <label for="" class="mr-2">
      Filters: 
    </label>

    <mat-radio-group aria-label="Select an option"
      [(ngModel)]="filter_match" (change)="updateFilters()">
      <mat-radio-button value="only_matched"  
        class="mr-2"
        >
        Only Matched
      </mat-radio-button>
      <mat-radio-button value="all"
        class="mr-2">
        All Patients
      </mat-radio-button>
    </mat-radio-group>


  </div>

</div>


<table mat-table [dataSource]="dataSource" style="width:100%">
  
  <ng-container matColumnDef="mrn">
    <th mat-header-cell *matHeaderCellDef>Record Number</th>
    <td mat-cell 
      *matCellDef="let pat"
      class="clickable"
      (click)="openPlummer(pat)">
      {{pat.pat_uid}}
    </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let pat"
      class="clickable"
      (click)="openPlummer(pat)">
      {{pat.name}}
    </td>
  </ng-container>

  <ng-container matColumnDef="stat2">
    <th mat-header-cell *matHeaderCellDef>Inclusion Criteria</th>
    <td mat-cell *matCellDef="let pat">
      <span *ngIf="pat.stat !== undefined">
        <span class="clr-d-yes">
          {{ pat.stat?.n_criteria_yes }} 
        </span>
        / {{ appStatus.getNumberInclusionCriteria() }}
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="stat3">
    <th mat-header-cell *matHeaderCellDef>Exclusion Criteria</th>
    <td mat-cell *matCellDef="let pat">
      <span *ngIf="pat.stat !== undefined">
        <span class="clr-d-no">
          {{ pat.stat?.n_criteria_no }}
        </span>
        / {{ appStatus.getNumberExclusionCriteria() }}
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="nlp_rst">
    <th mat-header-cell *matHeaderCellDef>Match</th>
    <td mat-cell *matCellDef="let pat">
      <span *ngIf="calcMatch(pat) == 'Matched'"
        class="clr-d-yes">
        <i class="fas fa-user"></i>
        {{ calcMatch(pat) }}
      </span>
      <span *ngIf="calcMatch(pat) == 'Unmatched'"
        class="clr-d-no">
        <i class="fas fa-user-slash"></i>
        {{ calcMatch(pat) }}
      </span>
      <span *ngIf="calcMatch(pat) == 'Unknown'"
        class="clr-d-na">
        <i class="far fa-question-circle"></i>
        {{ calcMatch(pat) }}
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>Decision</th>
    <td mat-cell *matCellDef="let pat">
      <span [class]="'label label-' + pat.inclusion">
        {{ pat.inclusion }}
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="label">
    <th mat-header-cell *matHeaderCellDef>Label</th>
    <td mat-cell *matCellDef="let pat">
      <span *ngFor="let lb of pat.labels"
        class="label label-default mr-2">
        {{ lb }}
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let pat">
      <button
        mat-raised-button
        class="mr-2"
        (click)="openPlummer(pat)">
        <mat-icon>open_in_new</mat-icon>
        Review
      </button>

      <!-- <button mat-button
              (click)="updateInclusionState(pat, inclusionState.INCLUDE)"
              [disabled]="pat.inclusion === inclusionState.INCLUDE"
      >
        <mat-icon>check</mat-icon>
        Include
      </button> -->

      <!-- <button mat-button
              (click)="updateInclusionState(pat, inclusionState.EXCLUDE)"
              [disabled]="pat.inclusion === inclusionState.EXCLUDE"
      >
        <mat-icon>close</mat-icon>
        Exclude
      </button> -->

      <!-- <button mat-button (click)="updateInclusionState(pat, inclusionState.UNJUDGED)">
        <mat-icon>refresh</mat-icon>
        Reset
      </button> -->

    </td>
  </ng-container>


  <tr mat-header-row 
    *matHeaderRowDef="displayedColumns">
  </tr>
  <tr mat-row 
    *matRowDef="let pat; columns: displayedColumns"
    class="hoverable">
  </tr>
</table>

<mat-paginator #paginator 
  [pageSizeOptions]="[10,15,20,50,100]" 
  showFirstLastButtons>
</mat-paginator>

