<div class="menu-bar-box" style="display: flex; flex-direction: row; position: sticky; top: 0; z-index: 999;">
  <div style="display: flex; align-items: center;">
    <input type="text" [(ngModel)]="search_keywords"
      style="height: 36px; line-height: 36px; width: 500px;"
      class="mr-2"
      placeholder="Search Keywords">
  </div>

  <mat-divider [vertical]="true"></mat-divider>

  <button mat-raised-button
    class="ml-2 mr-2">
    <mat-icon>create_new_folder</mat-icon> 
    Import Patients
  </button>

  <mat-divider [vertical]="true"></mat-divider>

  <button mat-raised-button
    class="ml-2 mr-2">
    <mat-icon>download</mat-icon> 
    Export as XLSX
  </button>
</div>


<table mat-table [dataSource]="dataSource" style="width:100%">
  
  <ng-container matColumnDef="mrn">
    <th mat-header-cell *matHeaderCellDef>Record Number</th>
    <td mat-cell 
      *matCellDef="let pat"
      class="clickable"
      (click)="openPlummer(pat)">
      {{pat.pat_uid}}
    </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let pat"
      class="clickable"
      (click)="openPlummer(pat)">
      {{pat.name}}
    </td>
  </ng-container>

  <ng-container matColumnDef="stat1">
    <th mat-header-cell *matHeaderCellDef>Records</th>
    <td mat-cell *matCellDef="let pat">
      {{ pat.stat?.n_records }}
    </td>
  </ng-container>

  <ng-container matColumnDef="stat2">
    <th mat-header-cell *matHeaderCellDef>Inclusion Criteria</th>
    <td mat-cell *matCellDef="let pat">
      <span *ngIf="pat.stat !== undefined">
        <span class="clr-d-yes">
          {{ pat.stat?.n_criteria_yes }} 
        </span>
        / 10
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="stat3">
    <th mat-header-cell *matHeaderCellDef>Exclusion Criteria</th>
    <td mat-cell *matCellDef="let pat">
      <span *ngIf="pat.stat !== undefined">
        <span class="clr-d-no">
          {{ pat.stat?.n_criteria_no }}
        </span>
        / 10
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>Decision</th>
    <td mat-cell *matCellDef="let pat">
      <span [class]="'label label-' + pat.inclusion">
        {{getStatus(pat)}}
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="label">
    <th mat-header-cell *matHeaderCellDef>Label</th>
    <td mat-cell *matCellDef="let pat">
      <span *ngFor="let lb of pat.labels"
        class="label label-default mr-2">
        {{ lb }}
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let pat">
      <button
        mat-raised-button
        class="mr-2"
        (click)="openPlummer(pat)">
        <mat-icon>open_in_new</mat-icon>
        Review
      </button>

      <!-- <button mat-button
              (click)="updateInclusionState(pat, inclusionState.INCLUDE)"
              [disabled]="pat.inclusion === inclusionState.INCLUDE"
      >
        <mat-icon>check</mat-icon>
        Include
      </button> -->

      <!-- <button mat-button
              (click)="updateInclusionState(pat, inclusionState.EXCLUDE)"
              [disabled]="pat.inclusion === inclusionState.EXCLUDE"
      >
        <mat-icon>close</mat-icon>
        Exclude
      </button> -->

      <!-- <button mat-button (click)="updateInclusionState(pat, inclusionState.UNJUDGED)">
        <mat-icon>refresh</mat-icon>
        Reset
      </button> -->

    </td>
  </ng-container>


  <tr mat-header-row 
    *matHeaderRowDef="['mrn', 'name', 'stat1', 'stat2', 'stat3', 'status', 'label', 'actions']">
  </tr>
  <tr mat-row 
    *matRowDef="let pat; columns: ['mrn', 'name', 'stat1', 'stat2', 'stat3', 'status', 'label', 'actions']"
    class="hoverable">
  </tr>
</table>

<mat-paginator #paginator [pageSizeOptions]="[10,15,20,50,100]" showFirstLastButtons></mat-paginator>

