<h2 mat-dialog-title>Edit Cohort Definition</h2>
<mat-dialog-content>
  <mat-form-field>
    <mat-label>
      Logical Type
    </mat-label>
    <mat-select [(ngModel)]="data.node_type">
      <mat-option *ngFor="let val of nodeTypes" [value]="val" >
        {{nodeTypeNames[val]}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="data.node_type === nodeType.BOOLEAN" >
    <mat-label>
      Match Criteria
    </mat-label>
    <mat-select [(ngModel)]="data.value_type">
      <mat-option *ngFor="let val of booleanOpTypes" [value]="val">
        {{booleanOpTypeNames[val]}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="data.node_type === nodeType.ENTITY">
    <mat-label>
      Entity Type
    </mat-label>
    <mat-select [(ngModel)]="data.value_type">
      <mat-option *ngFor="let val of entityTypes" [value]="val">
        {{entityTypeNames[val]}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="(data.node_type === nodeType.BOOLEAN && data.value_type === booleanOpType.MIN_OR)
           || data.node_type === nodeType.ENTITY">
    <mat-label *ngIf="data.node_type === nodeType.BOOLEAN && data.value_type === booleanOpType.MIN_OR">
      Minimum Matching Children
    </mat-label>
    <mat-label *ngIf="data.node_type === nodeType.ENTITY">
      Match Criteria
    </mat-label>
    <input matNativeControl [(ngModel)]="data.value">
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="{node: this.data, commit: false}">Cancel</button>
  <button mat-button [mat-dialog-close]="{node: this.data, commit: true}">Ok</button>
</mat-dialog-actions>
