.fact-list-wrapper {
    width: 100%;
}
.fact-list-header {
    margin-top: 10px
}
.fact-item {
    padding: 5px 0;
    border-bottom: 1px solid #CCCCCC;
}
.fact-item:hover {
    background-color: whitesmoke;
}
.fact-title {
    cursor: pointer;
}
.fact-item:hover .fact-title {
    font-weight: bold;
}
.fact-summary {
    font-size: 12px;
    line-height: 14px;
    color: #4d5555;
}
.fact-info {
    font-size: 11px;
    color: #999999;
}
.fact-oper {
    display: flex;
    justify-content: flex-end;
}