<div class="node-content">
    <div class="tree-node-info"
        [class.tree-node-info-adjmode]="this.appStatus.uwAdjudicationMode">
        <div>
            <div class="tree-node-info-title"
                [class.active-tree-node-info-title]="this.appStatus.uwCriteriaAssessing?.nodeUID === node?.criteria?.nodeUID"
                (click)="onClickTreeNode(node)"
                [ngStyle]="{'width.px':getNodeWidth(node?.level)}">

                <span *ngIf="this.appStatus.uwAdjudicationMode">
                    
                    <span *ngIf="this.appStatus.calcAgreement(node!.criteria!.nodeUID) === JUDGEMENT_AGREEMENT.AGREED"
                        class="clr-d-yes">
                        <i class="fas fa-check-double"></i>
                    </span>

                    <span *ngIf="this.appStatus.calcAgreement(node!.criteria!.nodeUID) === JUDGEMENT_AGREEMENT.DISAGREED"
                        class="clr-d-no">
                        <i class="fas fa-exchange-alt"></i>
                    </span>

                    <span *ngIf="this.appStatus.calcAgreement(node!.criteria!.nodeUID) === JUDGEMENT_AGREEMENT.INSUFFICIENT"
                        class="clr-d-na">
                        <i class="far fa-question-circle"></i>
                    </span>
                </span>

                {{ node?.criteria?.title }}
            </div>

            <div class="tree-node-info-comment" 
                [ngStyle]="{'width.px':getNodeWidth(node?.level)}">
                {{ this.appStatus.uwDeterminationDict[node?.criteria!.nodeUID]?.comment }}
            </div>
        </div>


        <div class="tree-node-info-dtmn-bar">

            <div class="tree-node-info-dtmns tree-node-dtmn-signs">

                <div *ngIf="this.appStatus.uwAdjudicationMode && this.appStatus.uwCriteriaAssessing?.nodeUID === node?.criteria?.nodeUID"
                    class="node-label-left">
                    <i class="fas fa-user-md"></i>
                    {{ this.appStatus.getUsername() }}
                </div>

                <!-- <div class="node-dtmn">
                    <div *ngIf="this.appStatus.uwDeterminationDict[node?.criteria!.nodeUID].judgement === JUDGEMENT_TYPE.JUDGED_MATCH"
                        class="clr-d-yes">
                        <i class="fas fa-check-circle"></i>
                    </div>
                    <div *ngIf="this.appStatus.uwDeterminationDict[node?.criteria!.nodeUID].judgement === JUDGEMENT_TYPE.EVIDENCE_FOUND"
                        class="clr-d-may-yes">
                        <i class="far fa-question-circle"></i>
                    </div>
                    <div *ngIf="this.appStatus.uwDeterminationDict[node?.criteria!.nodeUID].judgement === JUDGEMENT_TYPE.EVIDENCE_FOUND_NLP"
                        class="clr-d-may-yes" style="position: relative;">
                        <i class="far fa-question-circle"></i>
                    </div>
                </div> -->
                <div class="node-dtmn"
                    [innerHTML]="get_icon_by_judgement(this.appStatus.uwDeterminationDict[node?.criteria!.nodeUID], 'yes')">
                </div>

                <div class="node-dtmn">
                    <div *ngIf="this.appStatus.uwDeterminationDict[node?.criteria!.nodeUID].judgement === JUDGEMENT_TYPE.JUDGED_MISMATCH"
                        class="clr-d-no">
                        <i class="fas fa-times-circle"></i>
                    </div>
                    <div *ngIf="this.appStatus.uwDeterminationDict[node?.criteria!.nodeUID].judgement === JUDGEMENT_TYPE.NO_EVIDENCE_FOUND"
                        class="clr-d-may-no">
                        <i class="far fa-question-circle"></i>
                    </div>
                </div>

                <div class="node-dtmn">
                    <div *ngIf="this.appStatus.uwDeterminationDict[node?.criteria!.nodeUID].judgement === JUDGEMENT_TYPE.JUDGED_NO_EVIDENCE"
                        class="clr-d-na">
                        <i class="fas fa-minus-circle"></i>
                    </div>
                </div>

                <div class="node-dtmn">
                    &nbsp;
                </div>

            </div>



            <div *ngIf="this.appStatus.uwAdjudicationMode && this.appStatus.uwCriteriaAssessing?.nodeUID === node?.criteria?.nodeUID">
                <div *ngFor="let ur_jg of this.appStatus.uwAdjudicationDict[node!.criteria!.nodeUID] | keyvalue">
                    <div class="tree-node-info-dtmns tree-node-dtmn-signs tree-node-dtmn-signs-compare">

                        <div class="node-label-left">
                            <i class="far fa-user-circle"></i>
                            {{ ur_jg.key }}
                        </div>

                        <div class="node-dtmn"
                            [innerHTML]="get_icon_by_judgement(ur_jg.value, 'yes')">
                        </div>
                        <div class="node-dtmn"
                            [innerHTML]="get_icon_by_judgement(ur_jg.value, 'no')">
                        </div>
                        <div class="node-dtmn"
                            [innerHTML]="get_icon_by_judgement(ur_jg.value, 'na')">
                        </div>
                        <div class="node-dtmn"
                            [innerHTML]="get_icon_by_judgement(ur_jg.value, 'unk')">
                        </div>
                    </div>
                </div>
               
            </div>




            <div class="tree-node-info-dtmns tree-node-dtmn-opers">

                <div class="node-dtmn">
                    <div class="clr-d-yes node-dtmn-hover-show">
                        <button class="cdt-btn cdt-btn-sm cdt-btn-w20"
                            matTooltip="Yes"
                            (click)="setDeterminationValue(node?.criteria!, JUDGEMENT_TYPE.JUDGED_MATCH)">
                            <i class="fas fa-check"></i>
                        </button>
                    </div>
                </div>


                <div class="node-dtmn">
                    <div class="clr-d-no node-dtmn-hover-show">
                        <button class="cdt-btn cdt-btn-sm cdt-btn-w20"
                            matTooltip="No"
                            (click)="setDeterminationValue(node?.criteria!,JUDGEMENT_TYPE.JUDGED_MISMATCH)">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>

                <div class="node-dtmn">
                    <div class="clr-d-na node-dtmn-hover-show">
                        <button class="cdt-btn cdt-btn-sm cdt-btn-w20"
                            matTooltip="NA"
                            (click)="setDeterminationValue(node?.criteria!, JUDGEMENT_TYPE.JUDGED_NO_EVIDENCE)">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                
                <div class="node-dtmn">
                    <div class="node-dtmn-hover-show">
                        <button class="cdt-btn cdt-btn-sm cdt-btn-w20"
                            matTooltip="Reset to Default Result">
                            <i class="fas fa-undo-alt"></i>
                        </button>
                    </div>
                    
                </div>
            </div>


            
        </div>
    </div>

    <div *ngIf="this.appStatus.uwCriteriaAssessing?.nodeUID === node?.criteria?.nodeUID" 
        class="tree-node-info-description">
        {{ node?.criteria?.description }}
    </div>

    <div *ngIf="this.appStatus.uwCriteriaAssessing?.nodeUID === node?.criteria?.nodeUID" 
        class="tree-node-user-comment">
        <div class="tree-node-user-comment-header">
            <span class="fs-12 mr-5">
                <i class="fas fa-edit"></i>
                <span>Comment</span>
            </span>

            <button class="cdt-btn cdt-btn-sm"
                (click)="appendDeterminationComment(this.appStatus.uwDeterminationDict[node?.criteria!.nodeUID], 'Not found')">
                Not found
            </button>
        </div>
        <div>
            <textarea class="tree-node-user-comment-textarea"
                [(ngModel)]="this.appStatus.uwDeterminationDict[node?.criteria!.nodeUID].comment"
                (change)="onChangeComment($event)"
                placeholder="Please leave any comments for this criteria if needed" rows="3"></textarea>
        </div>
    </div>

    <div *ngIf="this.appStatus.uwAdjudicationMode && this.appStatus.uwCriteriaAssessing?.nodeUID === node?.criteria?.nodeUID" 
        class="tree-node-user-comment">
        <div *ngFor="let ur_jg of this.appStatus.uwAdjudicationDict[node!.criteria!.nodeUID] | keyvalue"
            class="tree-node-dtmn-signs-compare pt-1 fs-12">
            <i>
                <i class="far fa-user-circle"></i>
                {{ ur_jg.key }}'s comments:
            </i> <br>
            <div [innerHTML]="get_comment(ur_jg.value)">
            </div>
        </div>
    </div>
</div>