<div class="node-content">
    <div class="tree-node-info">
        <div>
            <div class="tree-node-info-title"
                [class.active-tree-node-info-title]="this.appStatus.uwCriteriaAssessing?.node_id === node?.criteria?.node_id"
                (click)="onClickTreeNode(node)"
                [ngStyle]="{'width.px':getNodeWidth(node?.level)}">
                {{ node?.criteria?.title }}
            </div>

            <div class="tree-node-info-comment" 
                [ngStyle]="{'width.px':getNodeWidth(node?.level)}">
                {{ this.appStatus.uwDeterminationDict[node?.criteria!.node_id].comment }}
            </div>
        </div>


        <div class="tree-node-info-dtmn-bar">

            <div class="tree-node-info-dtmns tree-node-dtmn-signs">

                <div class="node-dtmn">
                    <div *ngIf="this.appStatus.uwDeterminationDict[node?.criteria!.node_id].judgement === JUDGEMENT_TYPE.JUDGED_MATCH"
                        class="clr-d-yes">
                        <i class="fas fa-check-circle"></i>
                    </div>
                    <div *ngIf="this.appStatus.uwDeterminationDict[node?.criteria!.node_id].judgement === JUDGEMENT_TYPE.EVIDENCE_FOUND"
                        class="clr-d-may-yes">
                        <i class="far fa-question-circle"></i>
                    </div>
                    <div *ngIf="this.appStatus.uwDeterminationDict[node?.criteria!.node_id].judgement === JUDGEMENT_TYPE.EVIDENCE_FOUND_NLP"
                        class="clr-d-may-yes" style="position: relative;">
                        <i class="far fa-question-circle"></i>
                        <span class="nlp-icon">NLP</span>
                    </div>
                </div>

                <div class="node-dtmn">
                    <div *ngIf="this.appStatus.uwDeterminationDict[node?.criteria!.node_id].judgement === JUDGEMENT_TYPE.JUDGED_MISMATCH"
                        class="clr-d-no">
                        <i class="fas fa-times-circle"></i>
                    </div>
                    <div *ngIf="this.appStatus.uwDeterminationDict[node?.criteria!.node_id].judgement === JUDGEMENT_TYPE.NO_EVIDENCE_FOUND"
                        class="clr-d-may-no">
                        <i class="far fa-question-circle"></i>
                    </div>
                </div>

                <div class="node-dtmn">
                    <div *ngIf="this.appStatus.uwDeterminationDict[node?.criteria!.node_id].judgement === JUDGEMENT_TYPE.JUDGED_NO_EVIDENCE"
                        class="clr-d-na">
                        <i class="fas fa-minus-circle"></i>
                    </div>
                </div>

                <div class="node-dtmn">
                    &nbsp;
                </div>

            </div>

            <div class="tree-node-info-dtmns tree-node-dtmn-opers">

                <div class="node-dtmn">
                    <div class="clr-d-yes node-dtmn-hover-show">
                        <button class="cdt-btn cdt-btn-sm cdt-btn-w20"
                            matTooltip="Yes"
                            (click)="setDeterminationValue(node?.criteria!, DETERMINATION_VALUE.YES)">
                            <i class="fas fa-check"></i>
                        </button>
                    </div>
                </div>


                <div class="node-dtmn">
                    <div class="clr-d-no node-dtmn-hover-show">
                        <button class="cdt-btn cdt-btn-sm cdt-btn-w20"
                            matTooltip="No"
                            (click)="setDeterminationValue(node?.criteria!,DETERMINATION_VALUE.NO)">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>

                <div class="node-dtmn">
                    <div class="clr-d-na node-dtmn-hover-show">
                        <button class="cdt-btn cdt-btn-sm cdt-btn-w20"
                            matTooltip="NA"
                            (click)="setDeterminationValue(node?.criteria!, DETERMINATION_VALUE.NA)">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                
                <div class="node-dtmn">
                    <div class="node-dtmn-hover-show">
                        <button class="cdt-btn cdt-btn-sm cdt-btn-w20"
                            matTooltip="Reset to Default Result">
                            <i class="fas fa-undo-alt"></i>
                        </button>
                    </div>
                    
                </div>
            </div>


            
        </div>
    </div>

    <div *ngIf="this.appStatus.uwCriteriaAssessing?.node_id === node?.criteria?.node_id" 
        class="tree-node-info-description">
        {{ node?.criteria?.description }}
    </div>

    <div *ngIf="this.appStatus.uwCriteriaAssessing?.node_id === node?.criteria?.node_id" 
        class="tree-node-user-comment">
        <div class="tree-node-user-comment-header">
            <span class="fs-12 mr-5">
                <i class="fas fa-edit"></i>
                <span>Comment</span>
            </span>

            <button class="cdt-btn cdt-btn-sm"
                (click)="appendDeterminationComment(this.appStatus.uwDeterminationDict[node?.criteria!.node_id], 'Not found')">
                Not found
            </button>
        </div>
        <div>
            <textarea class="tree-node-user-comment-textarea"
                [(ngModel)]="this.appStatus.uwDeterminationDict[node?.criteria!.node_id].comment"
                (change)="onChangeComment($event)"
                placeholder="Please leave any comments for this criteria if needed" rows="3"></textarea>
        </div>
    </div>
</div>