.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 180px;
  background-color: rgb(239, 239, 239);
}

.sidenav .mat-toolbar {
  background: inherit;
}


.mat-list-item {
  font-size: 14px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.nb-prj-box {
  width: 100%;
  padding: 10px 0 0 10px;
}
.nb-prj-title {
  font-size: 18px;
  line-height: 24px;
}
.nb-prj-subtitle {
  font-size: 10px;
  line-height: 12px;
}