<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    
    <div class="nb-prj-box">
      <div style="text-align:center;">
          <span style="font-size: 64px; color: #777777;"
              class="material-icons"> account_circle </span>
          <br>
          <span>
            user_name
          </span>
          <br>

          <a href="javascript:void(0);">
            <i class="far fa-address-card"></i>
             Profile
          </a>
          |
          <a href="javascript:void(0);">
            <i class="fas fa-sign-out-alt"></i>
            Logout
          </a>
      </div>

    </div>
    
    <hr style="margin:10px;">

    <mat-nav-list
      style="margin-top: -10px;">
      <a mat-list-item 
        matTooltip="Create a New Project"
        (click)="appStatus.activeView = view.PROJECT_MAKER">
        <mat-icon>create_new_folder</mat-icon>
        New Project
      </a>

      <a mat-list-item 
        (click)="appStatus.activeView = view.PROJECT_LIST">
        <mat-icon>view_list</mat-icon>
        Project List
      </a>

      <a mat-list-item 
        (click)="showProjectOptions = !showProjectOptions"
         *ngIf="appStatus.activeProject != null">
        <mat-icon>source</mat-icon>
          [{{ appStatus.uwProject?.short_title }}]
        <mat-icon>
          {{showProjectOptions ? 'keyboard_arrow_down' : 'keyboard_arrow_right'}}
        </mat-icon>
      </a>

      <a mat-list-item 
        (click)="appStatus.activeView = view.PROJECT_DASHBOARD"
         *ngIf="displayProjectSuboptions()">
        &nbsp;&nbsp;&nbsp;&nbsp;
        <mat-icon>dashboard</mat-icon>
        Dashboard
      </a>

      <a mat-list-item 
        (click)="appStatus.activeView = view.PROJECT_QUERY_DEFINITION"
         *ngIf="displayProjectSuboptions()">
        &nbsp;&nbsp;&nbsp;&nbsp;
        <mat-icon>assignment</mat-icon>
        Criteria Definition
      </a>

      <a mat-list-item 
        (click)="appStatus.activeView = view.COHORT_BROWSER"
         *ngIf="displayProjectSuboptions()">
        &nbsp;&nbsp;&nbsp;&nbsp;
        <mat-icon>people</mat-icon>
        Cohort Browser
      </a>
      
      <a mat-list-item>
        <mat-icon>factory</mat-icon> Job Queue
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- <mat-toolbar color="primary" style="z-index: 100">
      <mat-toolbar-row>
        <button
          mat-icon-button
          aria-label="Toggle menu"
          (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span *ngIf="(isHandset$ | async) === false">Cohort Assessment Tool - {{title}}</span>
        <span style="flex: 1 1 auto"></span>
        <button mat-icon-button *ngIf="(isHandset$ | async)">
          <mat-icon>person</mat-icon>
        </button>
        <button mat-button *ngIf="(isHandset$ | async) === false">
          <mat-icon>person</mat-icon>
          {{middleware.rest.getUserName()}}
          <mat-icon>keyboard_arrow_down</mat-icon>
        </button>

      </mat-toolbar-row>
    </mat-toolbar> -->
    <app-project-maker 
      *ngIf="appStatus.activeView === view.PROJECT_MAKER">
    </app-project-maker>

    <app-project-list 
      *ngIf="appStatus.activeView === view.PROJECT_LIST">
    </app-project-list>

    <app-project-summary 
      *ngIf="appStatus.activeView === view.PROJECT_DASHBOARD">
    </app-project-summary>

    <app-cohort-definition 
      *ngIf="appStatus.activeView === view.PROJECT_QUERY_DEFINITION">
    </app-cohort-definition>

    <app-cohort-browser 
      *ngIf="appStatus.activeView === view.COHORT_BROWSER">
    </app-cohort-browser>

    <app-plummer 
      *ngIf="appStatus.activeView === view.PLUMMER">
    </app-plummer>

  </mat-sidenav-content>

</mat-sidenav-container>
