<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="applicationStatus.activeView = view.GLOBAL_DASHBOARD">
        <mat-icon>home</mat-icon>
        Home</a>
      <a mat-list-item (click)="applicationStatus.activeView = view.GLOBAL_PROJECT_LIST">
        <mat-icon>view_list</mat-icon>
        Project List</a>
      <a mat-list-item (click)="showProjectOptions = !showProjectOptions"
         *ngIf="applicationStatus.activeProject != null">
        <mat-icon>source</mat-icon>
        Project Options<mat-icon>{{showProjectOptions ? 'keyboard_arrow_down' : 'keyboard_arrow_right'}}</mat-icon>
      </a>
      <a mat-list-item (click)="applicationStatus.activeView = view.PROJECT_DASHBOARD"
         *ngIf="displayProjectSuboptions()">
        &nbsp;&nbsp;&nbsp;&nbsp;
        <mat-icon>dashboard</mat-icon>
        Dashboard</a>
      <a mat-list-item (click)="applicationStatus.activeView = view.PROJECT_QUERY_DEFINITION"
         *ngIf="displayProjectSuboptions()">
        &nbsp;&nbsp;&nbsp;&nbsp;
        <mat-icon>search</mat-icon>
        Cohort Definition</a>
      <a mat-list-item (click)="applicationStatus.activeView = view.PROJECT_COHORT_BROWSER"
         *ngIf="displayProjectSuboptions()">
        &nbsp;&nbsp;&nbsp;&nbsp;
        <mat-icon>people</mat-icon>
        Cohort Browser</a>
      <a mat-list-item>
        <mat-icon>factory</mat-icon> Job Queue
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" style="z-index: 100">
      <mat-toolbar-row>
        <button
          mat-icon-button
          aria-label="Toggle menu"
          (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Cohort Assessment Tool - {{title}}</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <app-project-list *ngIf="applicationStatus.activeView === view.GLOBAL_PROJECT_LIST"></app-project-list>
    <app-project-summary *ngIf="applicationStatus.activeView === view.PROJECT_DASHBOARD"></app-project-summary>
    <app-cohort-definition *ngIf="applicationStatus.activeView === view.PROJECT_QUERY_DEFINITION"></app-cohort-definition>
    <app-cohort-browser *ngIf="applicationStatus.activeView === view.PROJECT_COHORT_BROWSER"></app-cohort-browser>
    <app-patient-view *ngIf="applicationStatus.activeView === view.PROJECT_RELEVANCE_PATIENT_VIEW"></app-patient-view>
  </mat-sidenav-content>
</mat-sidenav-container>
