<div id="plummer-wrapper"
  *ngIf="appStatus.uwPlummerLoading">
  <div class="grid-container p-2">
    <h3>
      Loading determination data ... 
      <i class="fas fa-spinner fa-spin"></i>
    </h3>
    <div *ngIf="this.appStatus.uwAdjudicationMode">
      <p>
        If the loading time is too long, 
        you can turn off the adjudication mode to go back to review mode.
      </p>
      <mat-slide-toggle
        [(ngModel)]="this.appStatus.uwAdjudicationMode"
        (change)="toggleAdjudicationMode()">
        <i class="fa fa-people-arrows"></i>
        Adjudication Mode
      </mat-slide-toggle>
    </div>
  </div>
</div>

<div id="plummer-wrapper"
  *ngIf="!appStatus.uwPlummerLoading">
    <div id="plummer-oper">
        <button class="cdt-btn ml-5"
          (click)="onClickBackToCohort()">
            <i class="fas fa-chevron-left"></i>
            Back to Cohort Browser
        </button>

        <div class="divider"></div>

        <div style="margin: 0 10px;">
            Actions:
        </div>
        <button class="cdt-btn">
            <i class="fa fa-save"></i>
            Save Determinations
        </button>

        <div class="divider"></div>
        
        <button class="cdt-btn">
            <i class="fas fa-external-link-square-alt"></i>
            View in EHR
        </button>

        <div class="divider"></div>

        <mat-slide-toggle
          [(ngModel)]="this.appStatus.uwAdjudicationMode"
          (change)="toggleAdjudicationMode()">
          <i class="fa fa-people-arrows"></i>
          Adjudication Mode
        </mat-slide-toggle>

        <div class="divider"></div>
        
        <button class="cdt-btn mr-5">
            <i class="fas fa-file-export"></i>
            Export as XLSX
        </button>

        <button mat-icon-button 
          [matMenuTriggerFor]="menu" 
          aria-label="Show more actions">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>forward</mat-icon>
              <span>
                Export to Other System
              </span>
            </button>
          </mat-menu>
        
    </div>

    <app-patient-panel></app-patient-panel>

    <div id="plummer-cfd">
        <app-criteria-panel style="width: 510px;">
        </app-criteria-panel>

        <app-fact-panel style="width: 500px;"
          [criteria]="this.appStatus.uwCriteriaAssessing"
          [facts]="this.appStatus.uwFacts">
        </app-fact-panel>

        <app-doc-panel style="width: calc(100% - 1010px);"
          [fact]="this.appStatus.uwFact">
        </app-doc-panel>
    </div>
</div>