<div id="fact-panel-wrapper">
    <div class="panel-header">
        <div class="panel-header-left">
            <div class="panel-header-icon">
                <i class="fas fa-cubes"></i>
            </div>
            <div>
                <div class="panel-header-title">
                    Facts
                </div>
                <div class="panel-header-subtitle">
                    {{ appStatus.uwCriteriaAssessing?.title }} &nbsp;
                </div>
            </div>

            <div class="divider"></div>

            
        </div>

        <div class="panel-header-right">
            <div style="margin-right: 20px;">
                <input type="text" placeholder="Keywords" style="width: 80px;">
                <span class="clickable" style="margin-left: -15px;">
                    <i class="fa fa-times"></i>
                </span>
            </div>

            <div class="panel-header-btn">
                <button [matMenuTriggerFor]="menu" class="cdt-btn">
                    <i class="fas fa-bars"></i>
                </button>
                <!-- <button mat-icon-button 
                     
                    aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                  </button> -->
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                        <mat-icon>sort</mat-icon>
                        <span>
                            Sort by Date
                        </span>
                    </button>
                    <button mat-menu-item>
                        <mat-icon> format_list_numbered</mat-icon>
                        <span>
                            Sort by Score
                        </span>
                    </button>
                    <mat-divider></mat-divider>
                    <button mat-menu-item>
                        <mat-icon> border_all</mat-icon>
                        <span>
                            Show All Types
                        </span>
                    </button>
                </mat-menu>
            </div>

        </div>
    </div>

    <div class="panel-body" style="overflow-y: hidden;">

        <div style="height: calc(100% - 50px); overflow-y: auto;">

            <table class="fact-table" mat-table [dataSource]="dataSource">
                <!-- Position Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Fact</th>
                    <td class="fact-row" 
                        mat-cell 
                        [class.fact-row-active]="fact?.id == this.appStatus.uwFact?.id"
                        *matCellDef="let fact">
                        <app-fact-item [fact]="fact"></app-fact-item>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>


        <mat-paginator [pageSizeOptions]="[5, 10, 20, 50]"
            [pageSize]="10"
            showFirstLastButtons 
            aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>
</div>