#fact-panel-wrapper {
    width: 100%;
    height: 100%;
    padding: 0 5px 0 5px;
    margin: 0 5px 0 0;
    border-right: 1px solid #CCCCCC;
}
.fact-row {
    padding: 0 10px !important;
}
.fact-row:hover {
    background-color: whitesmoke;
}
.fact-row-active {
    background-color: #EEEEEE;
}