<div class="fact-item">
    <!-- first row is about the key information -->
    <div class="fact-title"
        (click)="onClickViewFullText()">
        <div class="fact-title-item">
            {{ getFactRecordDate(fact) }}
        </div>

        <div class="fact-title-item">
            <i class="fas fa-laptop-medical"></i>
            {{ getFactDS(fact) }}
        </div>

        <div class="fact-title-item">
            {{ fact?.type }}
        </div>
    </div>

    <!-- second row is the summary -->
    <!-- <div class="fact-summary"
        [innerHTML]="getFactSummary(fact)">
    </div> -->

    <!-- then this row is for meta info -->
    <div class="fact-last">
        <div class="fact-score">
            {{ getFactScore(fact) }}
        </div>
    
        <!-- last row is about the opers -->
        <div class="fact-oper">
            <button class="cdt-btn cdt-btn-sm ml-2"
                (click)="onClickViewFullText()">
                <i class="fas fa-external-link-alt"></i>
                View Full
            </button>

            <button class="cdt-btn cdt-btn-sm ml-2"
                (click)="this.appStatus.gotoEHR()">
                <i class="fas fa-external-link-square-alt"></i>
                EHR
            </button>
        </div>
    </div>
</div>