<div class="fact-item">
    <!-- first row is about the key information -->
    <div class="fact-title">
        <div>
            {{ this.appStatus.fmtDate(this.fact?.date_time) }}
        </div>
    </div>

    <!-- second row is the summary -->
    <div class="fact-summary"
        [innerHTML]="fact?.summary">
    </div>

    <!-- then this row is for meta info -->
    <div class="fact-last">
        <div class="fact-info">
            {{ fact?.score }}
        </div>
    
        <!-- last row is about the opers -->
        <div class="fact-oper">
            <button class="cdt-btn cdt-btn-sm mr-5">
                <i class="fas fa-external-link-alt"></i>
                View Full
            </button>
            <button class="cdt-btn cdt-btn-sm mr-5">
                <i class="fas fa-external-link-square-alt"></i>
                EHR
            </button>
        </div>
    </div>
</div>