<div id="patient-panel-wrapper">

    <!-- second row -->
    <div id="patient-panel-info">
        <div style="font-size: 24px; width: 38px; text-align: center;">
            <i class="fa fa-user"></i>
        </div>

        <!-- Decision -->
        <div class="ppi-item">
            <div class="ppi-item-header">
                Decision
            </div>
            <div class="ppi-item-value">
                <span *ngIf="this.appStatus.uwPat?.inclusion === this.appStatus.CohortInclusion.UNJUDGED"
                    class="clr-d-na decision-na">
                    Not Decided
                </span>
                <span *ngIf="this.appStatus.uwPat?.inclusion !== this.appStatus.CohortInclusion.UNJUDGED"
                    (click)="setDecision(this.appStatus.CohortInclusion.UNJUDGED)"
                    class="decision-oper">
                    Reset to NA
                </span>
                |
                <span *ngIf="this.appStatus.uwPat?.inclusion === this.appStatus.CohortInclusion.INCLUDE"
                    class="clr-d-yes decision-yes">
                    Included
                </span>
                <span *ngIf="this.appStatus.uwPat?.inclusion !== this.appStatus.CohortInclusion.INCLUDE"
                    (click)="setDecision(this.appStatus.CohortInclusion.INCLUDE)"
                    class="decision-oper">
                    Include
                </span>
                |
                <span *ngIf="this.appStatus.uwPat?.inclusion === this.appStatus.CohortInclusion.EXCLUDE"
                    class="clr-d-no decision-no">
                    Excluded
                </span>
                <span *ngIf="this.appStatus.uwPat?.inclusion !== this.appStatus.CohortInclusion.EXCLUDE"
                    (click)="setDecision(this.appStatus.CohortInclusion.EXCLUDE)"
                    class="decision-oper">
                    Exclude
                </span>
            </div>
        </div>

        <!-- Last Updated ID -->
        <div class="ppi-item">
            <div class="ppi-item-header">
                Last Updated
            </div>
            <div class="ppi-item-value">
                {{ this.appStatus.getToday() }}
            </div>
        </div>

        <!-- Patient ID -->
        <div class="ppi-item">
            <div class="ppi-item-header">
                Patient ID
            </div>
            <div class="ppi-item-value">
                {{ appStatus.uwPat?.pat_uid }}
            </div>
        </div>

        <!-- Patient Name -->
        <div class="ppi-item">
            <div class="ppi-item-header">
                Name
            </div>
            <div class="ppi-item-value">
                {{ appStatus.uwPat?.name }}
            </div>
        </div>


        <!-- Patient Labels -->
        <div class="ppi-item">
            
            <div class="ppi-item-header">
                Labels:
            </div>
            <app-label-box>
            </app-label-box>
        </div>

    </div>
</div>