<div style="text-align: center; background-color: white">
  <button mat-button>
    <mat-icon>create_new_folder</mat-icon> Create New Project
  </button>
</div>
<table mat-table [dataSource]="dataSource" style="width:100%">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Project Name</th>
    <td mat-cell *matCellDef="let project">
      {{project.name}}
    </td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let project">
      <button mat-button (click)="this.applicationStatus.activeProject = project">
        <mat-icon>folder_open</mat-icon> Open
      </button>
      <button mat-button>
        <mat-icon>share</mat-icon> Share
      </button>
      <button mat-button>
        <mat-icon>delete</mat-icon> Delete
      </button>
      <button mat-button>
        <mat-icon>archive</mat-icon> Archive
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="['name', 'actions']"></tr>
  <tr mat-row *matRowDef="let project; columns: ['name', 'actions']">

  </tr>
</table>

<mat-paginator #paginator [pageSizeOptions]="[10,15,20,50,100]" showFirstLastButtons></mat-paginator>
