/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a {
  color: #777777;
  text-decoration: none;
}
a:hover {
  color: black;
  text-decoration: underline;
}
/* fix for angular */

.mat-paginator-page-size-label {
  display: none;
}

.fact-table thead {
  display: none;
}

/* each view */
#patient-view-tab-group .mat-tab-body-wrapper {
  flex-grow: 1
}

/* global helpers */
.clickable {
  cursor: pointer;
}

.divider {
  width: 1px;
  background-color: #AAAAAA;
  height: calc(100% - 10px);
  margin: 0 5px;
}

.highlight {
  font-weight: bold;
  background-color: yellow;
}

/* for panel */
.panel-header {
  width: 100%;
  height: 40px;
  background-color: #EEEEEE;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.panel-body {
  width: 100%;
  height: calc(100% - 40px);
  overflow-x: hidden;
  overflow-y: auto;
}
.panel-header-left {
  display: flex;
  align-items: center;
  justify-content: start;
}
.panel-header-right {
  display: flex;
  align-items: center;
  justify-content: end;
}
.panel-header-icon {
  font-size: 24px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
}
.panel-header-title {
  font-size: 14px;
  font-weight: bold;
  height: 18px;
}
.panel-header-subtitle {
  font-size: 11px;
  line-height: 14px;
}
.panel-header-btn {
  margin: 0 5px 0 0;
}
.cdt-btn {
  border-radius: 4px;
  background-color: ghostwhite;
  border-color: #999999;
}
.cdt-btn-sm {
    font-size: 12px;
    padding: 0 3px;
    height: 20px;
    line-height: 12px;
}
.cdt-btn-w20 {
  width: 20px;
}

.ml-5 {
  margin-left: 5px;
}
.mr-5 {
  margin-right: 5px;
}
.fs-10 {
  font-size: 10px;
}
.fs-11 {
  font-size: 11px;
}
.fs-12 {
  font-size: 12px;
}
.clr-d-yes {
  color: #41992b;
}
.clr-d-no {
  color: #b42323;
}
.clr-d-na {
    color: #bcbcbc;
}

.hoverable:hover {
  background-color: whitesmoke;
}
.menu-bar-box {
  background-color: whitesmoke;
  border-bottom: 1px solid rgb(216, 216, 216);
  padding: 10px;
}
.ppi-item {
    margin-right: 15px;
}
.ppi-item-header {
    font-size: 9px;
    line-height: 12px;
}
.ppi-item-value {
    font-size: 12px;
    line-height: 18px;
}