<div id="doc-panel-wrapper">
    <div class="panel-header">
        <div class="panel-header-left">
            <div class="panel-header-icon">
                <i class="fas fa-file-prescription"></i>
            </div>
            <div>
                <div class="panel-header-title">
                    Full Document
                </div>
                <div class="panel-header-subtitle">
                    #507 [Primary Care] Date Time
                </div>
            </div>
    
            <div class="divider"></div>
    
            
        </div>

        <div class="panel-header-right">
    
            <div class="panel-header-btn">
                <button class="cdt-btn">
                    <i class="fas fa-bars"></i>
                </button>
            </div>

        </div>
    </div>
</div>