#doc-panel-wrapper {
    width: 100%;
    height: 100%;
    padding: 0 5px 0 0;
    margin: 0 5px 0 0;

    flex-grow: 1;
}
.doc-raw-json {
    width: 100%;
}
.doc-raw-json pre {
    width: 100%;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    white-space: pre-wrap !important;
    font-size: 11px;
}
.doc-note {
    width: 100%;
}
.doc-note pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    font-size: 11px;
    width: 100%;
}