<div id="doc-panel-wrapper">
    <div class="panel-header">
        <div class="panel-header-left">
            <div class="panel-header-icon">
                <i class="fas fa-file-prescription"></i>
            </div>
            <div>
                <div class="panel-header-title">
                    Full Document
                </div>
                <div class="panel-header-subtitle">
                    <!-- {{ fact?.summary }}&nbsp; -->
                </div>
            </div>
    
            <div class="divider"></div>
    
            
        </div>

        <div class="panel-header-right">
    
            <div class="panel-header-btn">
                
                <button [matMenuTriggerFor]="menu" class="cdt-btn">
                    <i class="fas fa-bars"></i>
                </button>
                <!-- <button mat-icon-button 
                     
                    aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                  </button> -->
                <mat-menu #menu="matMenu">
                    <button mat-menu-item
                        (click)="toggleRawJSON()">
                        <mat-icon>code</mat-icon>
                        <span>
                            Toggle Raw JSON Display
                        </span>
                    </button>
                </mat-menu>

            </div>

        </div>
    </div>

    <div class="panel-body">
        <mat-card *ngIf="appStatus.uwDocShowRawJSON">
            <mat-card-content class="card-content">
                <div class="doc-raw-json" 
                    [innerHTML]="getRawJSON(fact)"></div>
            </mat-card-content>
        </mat-card>
        <mat-card *ngIf="!appStatus.uwDocShowRawJSON">
            <mat-card-content class="card-content">
                <div class="doc-note"
                    [innerHTML]="getHTML(fact)">
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>