.type-icon {
  color: #757575;
  margin-right: 5px;
}

.patient-cohort-description-tree-invisible {
  display: none;
}

.patient-cohort-description-tree ul,
.patient-cohort-description-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.cohort-description-sidenav-toggle {
  position: absolute;
  left: -20px;
  top: 50%;
}

.cohort-description-sidenav-toggle-right {
  position: absolute;
  right: -20px;
  top: 50%;
}

::ng-deep .mat-drawer {
  overflow: visible
}

