.criteria-selector-container {
  position: inherit;
  height: 100%;
  display: inherit;
  transform: inherit;
}

.type-icon {
  color: #757575;
  margin-right: 5px;
}

.patient-cohort-description-tree-invisible {
  display: none;
}

.patient-cohort-description-tree ul,
.patient-cohort-description-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}


.cohort-description-sidenav-toggle {
  position: absolute;
  z-index: 100; /* TODO use something less hacky */
  left: -20px;
  top: 50%;
}

.cohort-description-sidenav-toggle-right {
  position: sticky;
  z-index: 100; /* TODO use something less hacky */
  left: calc(100% - 50px);
  top: 50%;
}

::ng-deep .mat-drawer {
  overflow: visible
}

.criteria-active {
  background-color: #5f9ea0;
}

.confirmed-match {
  background-color: #006400;
  color: black;
}

.algorithmic-match {
  background: repeating-linear-gradient(
    225deg,
    #60A15F,
    #60A15F 2px,
    #006400 2px,
    #006400 4px
  );
  color: black;
}

.algorithmic-match-nlp {
  background-color: #60A15F;
  color: black;
}

.algorithmic-mismatch  {
  background: repeating-linear-gradient(
    225deg,
    #a1605f,
    #a1605f 2px,
    #8b0000 2px,
    #8b0000 4px
  );
  color: black;
}

.algorithmic-mismatch-nlp {
  background-color: #a1605f;
  color: black;
}

.confirmed-mismatch {
  background-color: #8b0000;
  color: black;
}

